body {
    background: radial-gradient(
            circle,
            rgba(238, 174, 202, 1) 0%,
            rgba(148, 187, 233, 1) 100%
    );
}

h1 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.67em;
}

h4 {
    font-size: 1.5em;
}
.tac {
    text-align: center;
    margin: 0;
}

.flex {
    display: flex;
}

.jcsb {
    justify-content: space-between;
}

.image {
    width: 40%;
}
.resume {
    width: 50%;
    border: 1px solid green;
    padding: 10px;
    box-sizing: border-box;
}

.card {
    border: 1px solid black;
    padding: 0 10px;
    margin-bottom: 10px;
}

.card p {
    color: blue;
}

.card:last-child {
    margin: 0;
}

a {
    text-decoration: none;
    padding: 10px;
    background: red;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}

a:hover {
    color: green;
}

img {
    width: 300px;
}
